<!-- Navbar -->
    <nav class="navbar is-dark">
        <div class="navbar-brand">
            <a class="navbar-item" href="/admin">
                <strong>Barbería Elegante</strong>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
                {% comment %}<div class="navbar-end">
                   <!-- {% if user.is_authenticated %}-->
                        <a class="navbar-item" href="{% url 'agendar_cita' %}">Agendar Cita</a>
                    <!--{% else %}-->{% endcomment %}
                {% if user.is_authenticated %}
                    <a class="navbar-item" href="/">Inicio</a>
                    <a class="navbar-item" href="#servicios">Servicios</a>
                    <a class="navbar-item" href="#galeria">Galería</a>
                    <a class="navbar-item" href="#contacto">Contacto</a>
                    <a class="navbar-item" href="{% url 'crearagenda' %}">Agendar</a>
                    <a class="navbar-item" href="{% url 'listaagenda' %}">Lista de Agendas</a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                          Usuario: {{ user.username }}
                        </a>
                        <div class="navbar-dropdown">
                          <a href="{% url 'logout' %}" class="navbar-item">
                            Cerrar Sesión
                          </a>
                        </div>
                      </div>
                    </div>

                {% else  %}
                    <a class="navbar-item" href="/">Inicio</a>
                    <a class="navbar-item" href="#servicios">Servicios</a>
                    <a class="navbar-item" href="#galeria">Galería</a>
                    <a class="navbar-item" href="#contacto">Contacto</a>
                    <a class="navbar-item" href="{% url 'iniSesion' %}">Iniciar Sesión</a>
             {% endif %}
            </div>
        </div>
    </nav>